@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.image{
    object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0px;
  background-color: #222;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 1px #006d6d solid;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: teal;
  color: #fff;
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #fff;
}

.nav-links>ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link>a {
  line-height: 3rem;
  color: #fff;
  padding: .1rem .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link-active a {
  color: #ef9f13;
  border-bottom: #ef9f13 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;    
  border-left:  #ef9f13 2px solid;
  border-right: #ef9f13 2px solid;
}

.nav-link>a>i {
  margin-left: .2rem;
}

.nav-link:hover>a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link>a {
  display: flex;
  background-color: #4F4F4D;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover>a {
  background-color: #14A7A7;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #4F4F4D;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
  background-color: #14A7A7;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #222;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

  #check:checked~.nav-btn {
    transform: translateX(0);
  }

  #check:checked~.nav-btn .nav-link,
  #check:checked~.nav-btn .log-sign {
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links>ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link>a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover>a {
    transform: scale(1);
    background-color: #14A7A7;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #4F4F4D;
    display: none;
  }

  .nav-link:hover>.dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover>a>i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link>a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #14A7A7;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
  }

  .nav-link:hover .arrow {
    background-color: #14A7A7;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover>a {
    background-color: #14A7A7;
  }

  .dropdown-link:first-child:hover~.arrow {
    background-color: #14A7A7;
  }

  .nav-link>a>i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: .7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

/*-----------------------------------------------------------------------------------------------*/

body {
    background: #EFEDE7;
    font-family: sans-serif;
    min-height: 90.5vh;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.father{
    display: flex;
    max-width: 100vw;
}

.content-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-contener{
    padding: 25px;
    align-items: center;
}



.flexone {
    flex: 1;
}

.groups {
    margin: 0;
    width: 600px;
    height: auto;
    padding: 8px
}

.map{
    padding-top: 2.15rem;
}

.map iframe{
    position: fixed;
}

.groups li {
    position: relative;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;
    overflow: hidden;
    transition: all 0.3s;
}

.groups li:hover {
    box-shadow: 0 4px 14px 0 #0005;
}

.groups .card {
    overflow: hidden;
    display: block;
}

.groups .image-session {
    float: left;
    overflow: hidden;
    margin-right: 20px;
}

.groups .image-session .image {
    width: 280px;
    height: 220px;
    display: block;
    background-size: cover;
    background-position: center;
}

.groups .meta-sission {
    position: relative;
    padding: 15px;
    display: block;
    height: 220px;
}

.groups .body .title {
    overflow: hidden;
    font-size: 36px;
    padding-bottom: 10px;
}

.groups .body .desc {
    margin-bottom: 5px;
    font-size: 24px;
}

.groups .body .desc-dos {
    margin-bottom: 5px;
    font-size: 18px;
}

.meta-sission .head .per input {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #0001;
    margin-bottom: 4px;
    overflow: hidden;
}

.meta-sission .head .per input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #0075ff;
}

.groups .footer .button {
    position: absolute;
    bottom: 20px;
    right: 25px;
    background: #0075ff;
    color: #fff;
    line-height: 2.2;
    padding: 0 20px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 #0004;
    transition: all 0.3s;
}

.groups .footer .button:hover {
    box-shadow: 0 3px 8px 0 #0005;
    background: #063a78;
    right: 15px;
}

.form-input {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 25%;
 }
 
 .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: black;
    background-color: #fff;
 }
 
 .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003474;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
 }
 
 hr {
    color: grey
 }
 
 .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    height: auto;
    padding: 0 20px;
    background-color: #003474;
    border-radius: 4px;
 }
 

@media screen and (min-width: 1001px) and (max-width: 1440px) {
    .map iframe{
        width: 55%;
        padding-right: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .father{
        justify-content: center;
        align-items: center;
    }
    .map iframe{
        display: none;
    }
    .cards{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:780px) {
    .groups {
        width: auto;
    }

    .groups li:hover {
        transform: none;
        box-shadow: none;
    }
}


@media screen and (max-width: 780px) {
    .groups .image-session {
        float: none;
        margin-right: 0;
    }

    .groups .image-session .image {
        width: 100%;
    }
    .article-contener{
        justify-content: center;
    }
    .groups .footer .button {
        position: absolute;
        bottom: 9.5%; 
        right: 14%;
        left: 14%;
        background: #0075ff;
        color: #fff;
        text-align: center;
        border-radius: 50px;
        text-decoration: none;
        box-shadow: 0 1px 6px 0 #0004;
        transition: all 0.3s;
    }
}


@media screen and (min-width: 781px) {
    .groups .image-session .image {
        margin: 10px;
        padding: 0;
        border-radius: 0.8rem;
    }
    .groups li {
        max-width: 600px;
    }
    .groups .card {
        max-height: 190px;
        max-width: 600px;
    }
    .groups .image-session .image {
        width: 215px;
        height: 165px;
        object-fit: cover;
    }

    .groups .body .title {
        padding-top: 7.5px;
        padding-bottom: 8px;
        overflow: hidden;
        font-size: 32px;
        font-weight: 700;
    }
    
    .groups .body .desc {
        overflow: hidden;
        font-size: 19px;
        padding-bottom: 5px;
    }
    
    .groups .body .desc-dos {
        font-weight: normal;
    }
    .groups .meta-sission {
        padding: 10px;
        height: 185px;
    }
}

@media screen and (max-width: 320px) {
    .groups .image-session .image {
        width: 100%;
        height: 165px;
        object-fit: cover;
    }
    
    .groups .body .desc {
        font-size: 22px;
    }

    .groups .body .desc-dos {
        margin-bottom:0;
        font-size: 18px;
    }   
}

@media screen and (max-width: 306px) {
    .groups .image-session .image {
        height: 125px;
        object-fit: cover;
    }

    .groups .body .title {
        overflow: hidden;
        font-size: 23px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .groups .body .desc {
        margin-bottom: 5px;
        font-size: 16px;
        text-align: center;
    }
    
    .groups .body .desc-dos {
        margin-bottom: 5px;
        font-size: 15px;
        text-align: center;
    }    

    .groups .meta-sission{
        position: relative;
        padding: 15px;
        display: block;
        height: 180px;
    }
}

@media screen and (max-width: 303px) {
    .groups .image-session .image {
        width: 100%;
        height: 125px;
    }
}

@media screen and (max-width: 280px) {
    .groups .image-session .image {
        width: 215px;
        height: 125px;
        object-fit: cover;
    }

    .groups .body .title {
        overflow: hidden;
        font-size: 23px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .groups .body .desc {
        margin-bottom: 5px;
        font-size: 16px;
        text-align: center;
    }
    
    .groups .body .desc-dos {
        margin-bottom: 5px;
        font-size: 15px;
        text-align: center;
    }    

    .groups .meta-sission{
        position: relative;
        padding: 15px;
        display: block;
        height: 180px;
    }
}


#map { height: 98vh; width: 100hw; }
select {
  width: 30%;
  font-size: 2rem
} 