@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background: #222;
  padding: 5px 20px;
}
.menu ul {
  list-style-type: none;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

.image{
    height: 90vh;
    width: 100%;
    position: absolute;
}

.shadow{
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90vh;
    width: 100%;
}

.textCarrousel{
    color: #ef9f13;
    font-size: 4rem;
}

@media screen and (max-width: 912px) {
    .image{
        object-fit: cover;
        height: 50vh;
    }
    .textCarrousel{
        font-size: 2rem;
    }

    .shadow{
        height: 50vh;
    }
  }


/*---------------Cards----------------------*/
.service{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #EFEDE7;
  height: 90vh;
}

.service .box-container .box{
  flex: 1 1 30rem;
  text-align: center;
  padding:2rem;
  background:#fff;
  border-radius: .5rem;
}

section .card .icon{
  height: 55px;
  width: 55px;
  background: #043E85;
  border-radius: 50%;
  border: #fff 3px solid ;
  transform: translateY(100px);
}

section .card .icon i{
  justify-content: center;
  font-size: 35px;
  color: #fff;
  text-align: center;
  transform: translateY(15%);
}

.card{
  position: relative;
  background: #CEE9FF;
  border-radius: 15px;
  margin: 20px 0;
  height: 350px;
  width: 230px;
}

.card::before{
  content: "";
  position: absolute;
  height: 145px;
  width: 100%;
  background: #043E85;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.content-image{
  background: #043E85;
  border-radius: 20px;
  transform: translateX(-100px);
}

.content-image img{
  height: 125px;
  width: auto;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.card .name-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #000;
  transform: translateY(-10px);
  font-family: 'Poppins', medium;
}

.name-text .name{
  font-size: 20px;
  font-weight: 600;
  transform: translateY(93px);
}

.name-text .text{
  font-size: 15px;
  font-weight: 500;
  transform: translateY(98px);
}

.media-button{
  transform: translateY(160px);
  z-index: 300;
}

.btn-Card{
  font-family: 'Poppins', medium;
  padding: 10px;
  background: #043E85;
  color: #fff;
  border-radius: 7px;
  border: none;
}
.btn-Card:hover{
  background: #000000;
}
.content{
  max-width: 100vw;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}


/*---------Footer----------*/
.main-footer{
  background: #000;
  color: #fff;
  padding: 5px;
  padding-top: auto;
  font-size: 1em;
}


.copy{
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.main-footer [class*="icon-"]{
  color: #fff;
  text-decoration: none;
}
.main-footer [class*="icon-"]:before{
  position: relative;
  top: 3px;
  right: 7px;
}


.footer{
  font-size: 1rem;
  padding: 1.5rem;
  text-align: center;
  color:rgb(145, 144, 144);
  background: #222;
}

.footer span{
  color:#1135FF;
}