@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


body {
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background: #222;
  padding: 5px 20px;
}

.menu ul {
  list-style-type: none;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

.image {
  height: 90vh;
  width: 100%;
  position: absolute;
}

.shadow {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100%;
}

.textCarrousel {
  color: #ef9f13;
  font-size: 4rem;
}

@media screen and (max-width: 912px) {
  .image {
    object-fit: cover;
    height: 50vh;
  }

  .textCarrousel {
    font-size: 2rem;
  }

  .shadow {
    height: 50vh;
  }
}


/*---------------Cards----------------------*/
.service {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #EFEDE7;
}

.service .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: .5rem;
}

section .card .icon {
  height: 55px;
  width: 55px;
  background: #043E85;
  border-radius: 50%;
  border: #fff 3px solid;
  transform: translateY(100px);
}

section .card .icon i {
  justify-content: center;
  font-size: 35px;
  color: #fff;
  text-align: center;
  transform: translateY(15%);
}

.card {
  position: relative;
  background: #CEE9FF;
  border-radius: 15px;
  margin: 20px 0;
  height: 350px;
  width: 230px;
}

.card::before {
  content: "";
  position: absolute;
  height: 145px;
  width: 100%;
  background: #043E85;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.content-image {
  background: #043E85;
  border-radius: 20px;
  transform: translateX(-100px);
}

.content-image img {
  height: 133px;
  width: auto;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.card .name-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #000;
  transform: translateY(-10px);
  font-family: 'Poppins', medium;
}

.name-text .name {
  font-size: 20px;
  font-weight: 600;
  transform: translateY(93px);
}

.name-text .text {
  font-size: 15px;
  font-weight: 500;
  transform: translateY(98px);
}

.media-button {
  transform: translateY(160px);
  z-index: 300;
}

.btn-Card {
  font-family: 'Poppins', medium;
  padding: 10px;
  background: #043E85;
  color: #fff;
  border-radius: 7px;
  border: none;
}

.btn-Card:hover {
  background: #000000;
}

.content {
  max-width: 100vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}


/*---------Footer----------*/
.main-footer {
  background: #000;
  color: #fff;
  padding: 5px;
  padding-top: auto;
  font-size: 1em;
}


.copy {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.main-footer [class*="icon-"] {
  color: #fff;
  text-decoration: none;
}

.main-footer [class*="icon-"]:before {
  position: relative;
  top: 3px;
  right: 7px;
}


.footer {
  font-size: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: rgb(145, 144, 144);
  background: #222;
}

.footer span {
  color: #1135FF;
}


/*----------------------CARDS INFO---------------------*/

.info {
  background: #EFEDE7;
}

.imgCard-info {
  width: 100%;
}

.More-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5rem 2rem;
  font-family: Poppins, medium;
}

.blog-post {
  padding-top: 50px;
  width: 100%;
  max-width: 55rem;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  border-radius: .8rem;
}

.blog-post__img {
  min-width: 20rem;
  max-width: 20rem;
  height: 15rem;
  transform: translateX(-6rem) translateY(.8rem);
  position: relative;
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
}

.blog-post__title {
  font-size: 1.7rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #043E85;
}

.blog-post__text {
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

.blog-post__cta {
  display: inline-block;
  padding: 1rem .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffffff;
  background: linear-gradient(to right, #043E85 0%, #043E85 100%);
  background-size: 200%;
  background-position: right;
  transition: background-position .5s;
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post__cta:hover {
  background-position: left;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 50rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  section {
    align-items: center;
    justify-content: right;
    background: #000;
    padding: 0 2rem;
    font-family: Poppins, medium;
  }

  .blog-post {
    padding-top: 100px;
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
    min-height: 400px;
    max-height: 500px;
  }

  .blog-post__title {
    font-size: 2.4rem;
    text-align: center;
  }

  .blog-post__text {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}


/*______________Second Card____________*/
.More-cards-L {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5rem 2rem;
  font-family: Poppins, medium;
}

.blog-post-L {
  padding-top: 50px;
  width: 100%;
  max-width: 55rem;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  border-radius: .8rem;
}

.blog-post-L__img {
  min-width: 20rem;
  max-width: 20rem;
  height: 15rem;
  transform: translateX(6rem) translateY(.8rem);
  position: relative;
}

.blog-post-L__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
}

.blog-post-L__title {
  font-size: 1.7rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #043E85;
}

.blog-post-L__text {
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

.blog-post-L__cta {
  display: inline-block;
  padding: 1rem .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffffff;
  background: linear-gradient(to right, #043E85 0%, #043E85 100%);
  background-size: 200%;
  background-position: right;
  transition: background-position .5s;
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post-L__cta:hover {
  background-position: left;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 868px) {
  .blog-post-L {
    max-width: 50rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post-L {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  section {
    align-items: center;
    justify-content: right;
    padding: 0 2rem;
    font-family: Poppins, medium;
  }

  .blog-post-L {
    padding-top: 100px;
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post-L__img {
    min-width: 100%;
    max-width: 100%;
    min-height: 400px;
    max-height: 500px;
    transform: translate(0, -33rem);
  }

  .blog-post-L__info {
    transform: translateY(24rem);
  }

  .blog-post-L__title {
    font-size: 2.4rem;
    text-align: center;
  }

  .blog-post-L__text {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .info{
    padding-top: 200px;
  }
  .blog-post-L__img {
    transform: translate(0, -41.5rem);
  }
}
@media screen and (max-width: 520px) {
  .info{
    padding-top: 200px;
  }
  .blog-post-L__img {
    transform: translate(0, -52rem);
  }
}

@media screen and (max-width: 480px) {
  .info{
    padding-top: 200px;
  }
  .blog-post-L__img {
    transform: translate(0, -52rem);
  }
}


/*--------------UP------------*/

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}