@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0px;
  background-color: #222;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 1px #006d6d solid;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: teal;
  color: #fff;
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #fff;
}

.nav-links>ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link>a {
  line-height: 3rem;
  color: #fff;
  padding: .1rem .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.nav-link>a>i {
  margin-left: .2rem;
}

.nav-link:hover>a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link>a {
  display: flex;
  background-color: #4F4F4D;
  color: #fff;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.dropdown-link:hover>a {
  background-color: #14A7A7;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #4F4F4D;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
  background-color: #14A7A7;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #222;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
  }

  #check:checked~.nav-btn {
    transform: translateX(0);
  }

  #check:checked~.nav-btn .nav-link,
  #check:checked~.nav-btn .log-sign {
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links>ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link>a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover>a {
    transform: scale(1);
    background-color: #14A7A7;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #4F4F4D;
    display: none;
  }

  .nav-link:hover>.dropdown,
  .dropdown-link:hover>.dropdown {
    display: block;
  }

  .nav-link:hover>a>i,
  .dropdown-link:hover>a>i {
    transform: rotate(360deg);
  }

  .dropdown-link>a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link>a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #14A7A7;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
  }

  .nav-link:hover .arrow {
    background-color: #14A7A7;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover>a {
    background-color: #14A7A7;
  }

  .dropdown-link:first-child:hover~.arrow {
    background-color: #14A7A7;
  }

  .nav-link>a>i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: .7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

.image {
  height: 90vh;
  width: 100%;
  position: absolute;
}

.shadow {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100%;
}

.textCarrousel {
  color: #ef9f13;
  font-size: 4rem;
}

@media screen and (max-width: 912px) {
  .image {
    object-fit: cover;
    height: 50vh;
  }

  .textCarrousel {
    font-size: 2rem;
  }

  .shadow {
    height: 50vh;
  }
}


/*---------------Cards----------------------*/
.service {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #EFEDE7;
}

.service .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  background: #fff;
  border-radius: .5rem;
}

section .card .icon {
  height: 55px;
  width: 55px;
  background: #043E85;
  border-radius: 50%;
  border: #fff 3px solid;
  transform: translateY(100px);
}

section .card .icon i {
  justify-content: center;
  font-size: 35px;
  color: #fff;
  text-align: center;
  transform: translateY(15%);
}

.card {
  position: relative;
  background: #CEE9FF;
  border-radius: 15px;
  margin: 20px 0;
  height: 350px;
  width: 230px;
}

.card::before {
  content: "";
  position: absolute;
  height: 145px;
  width: 100%;
  background: #043E85;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.content-image {
  background: #043E85;
  border-radius: 20px;
  transform: translateX(-100px);
}

.content-image img {
  height: 133px;
  width: auto;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  z-index: 100;
  text-align: center;
}

.card .name-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #000;
  transform: translateY(-10px);
  font-family: 'Poppins', medium;
}

.name-text .name {
  font-size: 20px;
  font-weight: 600;
  transform: translateY(93px);
}

.name-text .text {
  font-size: 15px;
  font-weight: 500;
  transform: translateY(98px);
}

.media-button {
  transform: translateY(160px);
  z-index: 300;
}

.btn-Card {
  font-family: 'Poppins', medium;
  padding: 10px;
  background: #043E85;
  color: #fff;
  border-radius: 7px;
  border: none;
}

.btn-Card:hover {
  background: #000000;
}

.content {
  max-width: 100vw;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}


/*---------Footer----------*/
.main-footer {
  background: #000;
  color: #fff;
  padding: 5px;
  padding-top: auto;
  font-size: 1em;
}


.copy {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.main-footer [class*="icon-"] {
  color: #fff;
  text-decoration: none;
}

.main-footer [class*="icon-"]:before {
  position: relative;
  top: 3px;
  right: 7px;
}


.footer {
  font-size: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: rgb(145, 144, 144);
  background: #222;
}

.footer span {
  color: #1135FF;
}


/*----------------------CARDS INFO---------------------*/

.info {
  background: #EFEDE7;
}

.imgCard-info {
  width: 100%;
}

.More-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5rem 2rem;
  font-family: Poppins, medium;
}

.blog-post {
  padding-top: 50px;
  width: 100%;
  max-width: 55rem;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  border-radius: .8rem;
}

.blog-post__img {
  min-width: 20rem;
  max-width: 20rem;
  height: 15rem;
  transform: translateX(-6rem) translateY(.8rem);
  position: relative;
}

.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
}

.blog-post__title {
  font-size: 1.7rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #043E85;
}

.blog-post__text {
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

.blog-post__cta {
  display: inline-block;
  padding: 1rem .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffffff;
  background: linear-gradient(to right, #043E85 0%, #043E85 100%);
  background-size: 200%;
  background-position: right;
  transition: background-position .5s;
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post__cta:hover {
  background-position: left;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 50rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  section {
    align-items: center;
    justify-content: right;
    background: #000;
    padding: 0 2rem;
    font-family: Poppins, medium;
  }

  .blog-post {
    padding-top: 100px;
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
    min-height: 400px;
    max-height: 500px;
  }

  .blog-post__title {
    font-size: 2.4rem;
    text-align: center;
  }

  .blog-post__text {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}


/*______________Second Card____________*/
.More-cards-L {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5rem 2rem;
  font-family: Poppins, medium;
}

.blog-post-L {
  padding-top: 50px;
  width: 100%;
  max-width: 55rem;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  border-radius: .8rem;
}

.blog-post-L__img {
  min-width: 20rem;
  max-width: 20rem;
  height: 15rem;
  transform: translateX(6rem) translateY(.8rem);
  position: relative;
}

.blog-post-L__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
}

.blog-post-L__title {
  font-size: 1.7rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #043E85;
}

.blog-post-L__text {
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

.blog-post-L__cta {
  display: inline-block;
  padding: 1rem .5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffffff;
  background: linear-gradient(to right, #043E85 0%, #043E85 100%);
  background-size: 200%;
  background-position: right;
  transition: background-position .5s;
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post-L__cta:hover {
  background-position: left;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 868px) {
  .blog-post-L {
    max-width: 50rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post-L {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  section {
    align-items: center;
    justify-content: right;
    padding: 0 2rem;
    font-family: Poppins, medium;
  }

  .blog-post-L {
    padding-top: 100px;
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post-L__img {
    min-width: 100%;
    max-width: 100%;
    min-height: 400px;
    max-height: 500px;
    transform: translate(0, -33rem);
  }

  .blog-post-L__info {
    transform: translateY(24rem);
  }

  .blog-post-L__title {
    font-size: 2.4rem;
    text-align: center;
  }

  .blog-post-L__text {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .info {
    padding-top: 200px;
  }

  .blog-post-L__img {
    transform: translate(0, -41.5rem);
  }
}

@media screen and (max-width: 520px) {
  .info {
    padding-top: 200px;
  }

  .blog-post-L__img {
    transform: translate(0, -52rem);
  }
}

@media screen and (max-width: 480px) {
  .info {
    padding-top: 200px;
  }

  .blog-post-L__img {
    transform: translate(0, -52rem);
  }
}


/*--------------UP------------*/

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}