<!-- NavBar -->
<header>
  <div class="ContainerNavBar">
    <input type="checkbox" name="" id="check">

    <div class="logo-container">
      <h3 class="logo">Opus <span>Dei</span></h3>
    </div>

    <div class="nav-btn">
      <div class="nav-links">
        <ul>
          <li class="nav-link " style="--i: .6s">
            <a routerLink="/landingPage">Inicio</a>
          </li>
          <li class="nav-link" style="--i: .6s">
            <a routerLink="/casas" style="cursor: pointer;" class="active">Casas</a>
          </li>
          <li class="nav-link" style="--i: .85s">
            <a routerLink="/actividades">Actividades<i class="fas fa-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li routerLink="/actividades/actividadesHombre" class="dropdown-link">
                  <a>Actividades de Hombres</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: 1.1s">
            <a>Acerca<i class="fas fa-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link">
                  <a routerLink="/aboutOfYouStadie">Acerca de su estadía</a>
                </li>
                <li class="dropdown-link">
                  <a routerLink="/acercaDeLasCasas">Acerca de las casas de retiro</a>
                </li>
                <li class="dropdown-link">
                  <a routerLink="/acercaDeOpusDei">Acerca de Opus Dei</a>
                </li>
                <li class="dropdown-link">
                  <a routerLink="/acercaDeLosDesarrolladores">Acerca de los Desarrolladores</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-link" style="--i: 1.35s">
            <a routerLink="/contactanos">Contactanos</a>
          </li>
        </ul>
      </div>
      <div class="log-sign" style="--i: 1.8s">
        <a routerLink="/login" class="btnNavBar transparent">Log in</a>
      </div>
    </div>

    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
  </div>
</header>

<!-- Login -->

<body>
  <div class="subSubContainer">
    <div class="subContainer">
      <div class="container">
        <div class="forms-container">
        </div>
      </div>
      <div class="signin-signup">
        <form (ngSubmit)="login()" action="#" class="sign-in-form">
          <h2 class="title">Iniciar Seción</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input [(ngModel)]="user.username" name="username" type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" />
          </div>
          <input type="submit" value="Login" class="btnLogin solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
        <form action="#" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Contraseña" />
          </div>
          <input type="submit" class="btn" value="Sign up" />
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <img src="https://cdn-icons-png.flaticon.com/512/5798/5798153.png" class="image" alt="" />
      </div>
    </div>
  </div>
</body>