<!--TÍTULO DEL COMPONENTE-->
<div class="head-title">
    <div class="left">
        <h1>
            &nbsp;<i class="fa fa-tachometer" aria-hidden="true"></i> Control Administrator
        </h1>
        <hr>
    </div>
</div>
<br>

<!-- Content Row -->
<div class="row">

    <div routerLink="/admin/organizers" class="click col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-1">
                        <div class="mt-2 font-weight-bold text-primary mb-1">
                            Organizers </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-users fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div routerLink="/admin/homes" class="click col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-1">
                        <div class="font-weight-bold text-success mb-1">
                            Houses</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-house-chimney-user fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div routerLink="/admin/rooms" class="click col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-1">
                        <div class="font-weight-bold text-warning mb-1">
                            Rooms</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bed fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div routerLink="/admin/events" class="click col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-1">
                        <div class="font-weight-bold text-info mb-1">
                            Events</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div routerLink="/admin/typeCompany" class="click col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-1">
                        <div class="font-weight-bold text-danger mb-1">
                            Reservations</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-cart-shopping fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>