<!--TÍTULO DEL COMPONENTE-->
<div class="head-title">
    <div class="left">
        <h1>
            &nbsp;<i class="fas fa-calendar" aria-hidden="true"></i> Events
        </h1>
        <hr>
    </div>
</div>


<!-- DESPLIEGA LA BÚSQUEDA -->
<div class="form-input mt-5">
    <input placeholder="Search...">
    <button type="submit" class="search-btn"><i class='fa fa-search'></i></button>
</div>
<br>


<!--BOTONES DE ACCESO RÁPIDO-->
<div class="text-center mt-2 mb-2">
    <button class="btn btn-success btn-icon-split" data-bs-toggle="modal" data-bs-target="#addHotel">
        <span class="icon">
            <i class="fas fa-calendar" aria-hidden="true"></i>
        </span>
        <span class="text">Add Event</span>
    </button>
    <button routerLink="/admin/home" class="btn btn-primary btn-icon-split">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span class="text">Back Home</span>
    </button>
</div>
<hr>


<!--CARDS DE HOTELS-->
<div>
    <div class="container">
        <div class="products-container">
            <div *ngFor="let event of events" class="product" data-name="p-1">
                <h5 class="card-title">{{event.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{startDates[events.indexOf(event)]}} hasta {{endDates[events.indexOf(event)]}}</h6>
                <p class="card-text">{{ event.organizer.name }}</p>
                <button class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#updateHotel"
                    class="btn btn-warning m-2">
                    <i class="fa fa-pencil" aria-hidden="true">
                    </i> Update
                </button>
                <button class="btn btn-danger"> <i class="fa fa-trash"
                        aria-hidden="true"></i>
                    Delete
                </button>
                <button data-bs-toggle="modal" data-bs-target="#viewHotel"
                    class=" btn btn-secondary ms-2"> <i class="fa fa-eye" aria-hidden="true"></i>
                    View
                </button>
            </div>
        </div>
    </div>
</div>

