<header>
    <div class="container">
        <input type="checkbox" name="" id="check">

        <div class="logo-container">
            <h3 class="logo">Opus <span>Dei</span></h3>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s">
                        <a routerLink="">Inicio</a>
                    </li>
                    <li class="nav-link" style="--i: .85s">
                        <a class="nav-link-active" routerLink="/activities" >Actividades<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Actividades de Hombres</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Actividades de Mujeres</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">Acerca<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Acerca de su estadía</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Acerca de las casas de retiro</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Acerca de Opus Dei</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a routerLink="/contactUs">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div class="log-sign" style="--i: 1.8s">
                <a href="#" class="btn transparent">Log in</a>
                <a href="#" class="btn solid">Sign up</a>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<section class="Back">
    <div class="container-Card">
        <div class="card-Act">
            <figure>
                <img src="" alt="Actividades de Hombres">
            </figure>
            <div class="content">
                <h3>Actividades de Hombres</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ut aliquam omnis cum. Consequatur impedit error aspernatur illo quas, ut alias id dolores beatae? Fugiat possimus perspiciatis ipsam maiores error?</p>
                <a href="" class="blog-post__cta">Más información</a>
            </div>
        </div>
        <div class="card-Act">
            <figure>
                <img src="" alt="Actividades de Mujeres">
            </figure>
            <div class="content">
                <h3>Actividades de Mujeres</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ut aliquam omnis cum. Consequatur impedit error aspernatur illo quas, ut alias id dolores beatae? Fugiat possimus perspiciatis ipsam maiores error?</p>
                <a href="" class="blog-post__cta">Más información</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer"> Creado por <span> Grupo 4 | IN6AV(1) </span> | Todos los derechos reservados <br>
    copyright© 2023
</footer>