/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff8800 #242424;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #242424;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff8800;
    border-radius: 24px;
    border: 0px solid #ff7b00;
  }